// Primary Colors 
$audience-active-underline: hsl(7, 99%, 70%);
$brand-active-underline: hsl(51, 100%, 49%);
$contact-button-background: hsl(51, 100%, 49%);
$transform-active-underline: hsl(51, 100%, 49%); 
$graphic-design-text: hsl(167, 40%, 24%); // #25564b
$photography-text: hsl(198, 62%, 26%); //#19536b
$header-color: hsl(200, 100, 62); //#3ebfff 
$header-orange: hsl(33, 97, 50); // #fb8d05 
$footer-color: #85eace;

//#85eace  
//hsl(168, 34%, 41%)
//#6de6c4
//#54e2ba
//#3cddb1
//#90D4C6 from Sketch




// Neutral Colors
$color-dk-desat-blue: hsl(212, 27%, 19%);
$color-very-dk-grayish-blue: hsl(213, 9%, 39%);
$color-dk-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%); 
$color-white: hsl(0, 0%, 100%); // header text, footer hover
$contact-hover: #8bd9ff; 



// Font

$header-font-family: 'Fraunces',
serif;
$body-font-family: 'Barlow',
sans-serif;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Breakpoints
$bp-mobile-start: 320px;
$bp-mobile-end: 480px;
$bp-tablet-start: 481px;
$bp-tablet-end: 768px;
$bp-notebook-start: 769px;
$bp-notebook-end: 1024px;
$bp-lg-screen-start: 1025px;
$bp-lg-screen-end: 1200px;
$bp-xl-screen-start: 1201px;
$bp-xl-screen-end: 1440px;
$bp-xxl-screen-start: 1441px;
$bp-xxl-screen-end: 1920px;

// Breakpoints
/*$bp-sm-mobile: 320px;
$bp-lg-mobile: 767px;
$bp-tablet-start: 768px;
$bp-tablet-end: 1199px;
$bp-desktop: 1200px;*/