header {
    width: 100%;
    height: 80rem;
    background-image: url(/assets/images/desktop/image-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include mobile-breakpoint {
        height: 53.8rem;
        background-image: url(/assets/images/mobile/image-header.jpg);
         
    }

    .navbar {
        @include flex (row, space-between, center);


        @include mobile-breakpoint {
              
        }

        .logo-container {
            .logo {
                text-align: left;
            }
        }

        
    }
}