.testimonials {
    text-align: center;
    padding: 3rem 1rem 3rem 1rem;
    
    &-title {
        margin: 4rem 0;
        padding: 3rem;
        text-transform: uppercase;
        color: $color-dk-grayish-blue;
    }
    &__container {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        padding: 2rem 1rem;
        margin-bottom: 3rem;

        @media screen and (min-width: $bp-tablet-end){
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
            width: 100%;
        }
        @media screen and (min-width: $bp-xl-screen-end) {
            padding: 3rem 9rem;
        }
        
        .client {
            display: grid;
            margin: 3rem 1rem;
            padding-bottom: 1rem;

            @media screen and (min-width: $bp-xl-screen-end) {
                padding: 1rem;
            }
           
            &-image {
                margin: 2rem auto;
                border-radius: 50%;
                width: 7.5rem;
                @media screen and (min-width: $bp-xl-screen-end)
                {
                    margin: 3rem auto;
                }
            }

            p {
                font-size: 1.5rem;
                line-height: 1.5em;
                color: $color-very-dk-grayish-blue;
                max-width: 35rem;
                margin: auto;
                //padding: 2rem;
            }

            h2 {
               font-size: 1.45em; 
               margin-top: 6rem;
            }

            .position {
                margin-top: 1rem;
                padding: .5rem;
                font-size: 1.2rem;
            }
        }
    }
    
}