.main__content {
    .brand {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        min-height: 32rem;

        @media only screen and (min-width: $bp-tablet-start) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            max-height: 50rem;
            
        }
        
        &-image {
            background: url(/images/mobile/image-transform.jpg) no-repeat center center;
            background-size: cover;
            min-height: 31.2rem;
        }
    }

    .audience {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        min-height: 32rem;

        @media only screen and (min-width: $bp-tablet-start) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            max-height: 60rem;
            
        }

        &-image {
            background: url(/images/mobile/image-stand-out.jpg) no-repeat center center;
            background-size: cover;
            min-height: 31.2rem;
        }
    }

    .main-image {
        width: 100%;

        
        @media only screen and (min-width: $bp-tablet-start) {
            height: 60rem;
        }
    }

    .services {

        .graphic-box {
            background: url(/images/mobile/image-graphic-design.jpg) no-repeat center center;
            background-size: cover;
            @include flex (column, center, center);

            @media only screen and (max-width: 719px){
                height: 80rem;
            }

        }

        .photography-box {
           background: url(/images/mobile/image-photography.jpg) no-repeat center center;
           background-size: cover;
            @include flex (column, center, center);

            @media only screen and (max-width: $bp-mobile) {
                height: 80rem;
            }

        }
    }
}