footer {
    grid-area: footer;
    height: 35rem;
    width: 100%;
    margin-top: 35rem;
    background-color: $footer-color;
}




.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}