.gallery-grid {
    height: 37.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "milk cutorange"
        "cone sugar";
    @media screen and (min-width: 520px) and (max-width: 768px) {
        height: 50rem;
    }
    @media screen and (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 
        "milk cutorange cone sugar";
        height: 44rem;
    }

    .image {
        width: 100%;
    }

    &--image:first-of-type{
        grid-area: milk;
        background: url(/images/mobile/image-gallery-milkbottles.jpg) no-repeat center center;
        background-size: cover;

        @media screen and (min-width: 1024px) {
            background: url(/images/desktop/image-gallery-milkbottles.jpg) no-repeat center center;
            background-size: cover;
        }
    }

    &--image:nth-of-type(2) {
        grid-area: cutorange;
        background: url(/images/mobile/image-gallery-orange.jpg) no-repeat center center;
        background-size: cover;

        @media screen and (min-width: 1024px) {
            background: url(/images/desktop/image-gallery-orange.jpg) no-repeat center center;
            background-size: cover;
        }
    }

    &--image:nth-of-type(3) {
        grid-area: cone;
        background: url(/images/mobile/image-gallery-cone.jpg) no-repeat center center;
        background-size: cover;

        @media screen and (min-width: 1024px) {
            background: url(/images/desktop/image-gallery-cone.jpg) no-repeat center center;
            background-size: cover;
        }
    }

    &--image:nth-of-type(4) {
        grid-area: sugar;
        background: url(/images/mobile/image-gallery-sugar-cubes.jpg) no-repeat center center;
        background-size: cover;

        @media screen and (min-width: 1024px) {
            background: url(/images/desktop/image-gallery-sugarcubes.jpg) no-repeat center center;
            background-size: cover;
        }
    }
}