header {
    min-height: 80vh;
    width: 100%;
    color: $color-white;
    padding: 2rem 2rem 0 2rem;
    background-color: $header-color;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @media only screen and (max-width: $bp-mobile){
        height: 54rem;
        background-image: url(/images/mobile/image-header.jpg);
    }

    @media only screen and (min-width: $bp-tablet-start) {
        background-image: url(/images/desktop/image-header.jpg);
    }

    .header-tagline {
        padding-top: 8rem;
        position: relative;

        .tagline {
            text-align: center;
            text-transform: uppercase;
        }

        .arrow {
            position: absolute;
            right: 50%;
            top: 120%;
            transform: translateX(50%);
        }
    }
    

    .navbar {
        width: 100%;
        @include flex (row, space-between, center);
    
        .nav-menu {
            display: none;

            @media only screen and (min-width: 1024px) {
                display: block;
                @include flex (row, space-between, center);
                width: 50%;
            }
        }

        .hamburger-btn {
            display: block;
            cursor: pointer;

            @media only screen and (min-width: 1024px) {
                display: none;
            }
        }


    }
}