.wrapper {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "header"
    "main"
    "testimonials"
    "gallery"
    "footer";
}