// Primary Colors 
$audience-active-underline: hsl(7, 99%, 70%);
$brand-active-underline: hsl(51, 100%, 49%);
$graphic-design-text: hsl(167, 40%, 24%);
$photography-text: hsl(198, 62%, 26%);
$footer-color: hsl(168, 34%, 41%);

// Neutral Colors
$color-dk-desat-blue: hsl(212, 27%, 19%);
$color-very-dk-grayish-blue: hsl(213, 9%, 39%);
$color-dk-grayish-blue: hsl(232, 10%, 55%);
$color-grayish-blue: hsl(210, 4%, 67%);
$color-white: hsl(0, 0%, 100%); // header text, footer hover

// Font

$header-font-family: 'Fraunces',
serif;
$body-font-family: 'Barlow',
sans-serif;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;